body {
  margin: 0;
  padding: 0;
}
#root {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.adv-search-button .x-btn-inner-default-small {
  color: black;
}


.adv-search-button .x-btn-icon-el-default-small {
  color: black;
}